<h1 style="color: #5e9ca0;">python-perf-demo</h1>
<p style="color: #2e6c80;">Use these demo links to follow along with the article.</p>
<h2 style="color: #2e6c80;">Available Views:</h2>
<p><a href="/demo/dictionary">/demo/dictionary</a><br /><a href="/demo/dictionary2">/demo/dictionary2</a><br /><a href="/demo/get_company">/demo/get_company</a><br /><a href="/demo/get_company_values">/demo/get_company_values</a><br /><a href="/demo/company-autocomplete?q=B">/demo/company-autocomplete?q=B</a></p>
<p>&nbsp;</p>
<p><strong>&nbsp;</strong></p>
